<!DOCTYPE html>

  <center>
  <h1>Operador de Precedencia Top Down. Análisis Léxico</h1><br><br>
  <h3>Rellene la casilla de entrada con código javascript y se desplegará un cuadro con los tokens correspondientes.</h3>
  
  <table class="tablaIN">
    
    <th>
      <p>
      Entrada
      </p>
    </th>

    <tr>
    <td>
    <textarea id="INPUT" autofocus>
       var a = "hello"; // initialize a
       var b = function(x) 
       {
          var c = 3;
          return x+c;
       };
    </textarea>
    </td>
    </tr>
  
    <tr>
    <td>  
      <br><input id="PARSE" value=Parse type=button class="mylink">
    </td>
    </tr>

  </table>

  <br><br><br>
  
  <table class="tablaOUT" style="overflow-y:scroll">
    <th>
      <p>
        Tokens
      </p>
    <th>

    <tr>
    <td>
    <pre id=OUTPUT></pre>
    </td>
    </tr>

  </table>

    <br>
    <a id="GitHub" href="https://github.com/alu0100697063/PL04-Analizador-Lexico"> GitHub </a>
    <a id="Test" href="/tests"> Test </a>

  </center>
