<!DOCTYPE html>
<html>
<head>
   <title>Operador de Precedencia Top Down</title>
   
   <link rel="shortcut icon" href="assets/etsiiull.png" type="image/x-icon">
   <link href="global.css" rel="stylesheet" type="text/css">
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="parse.js"></script>
   <script src="tokens.js"></script>
   <script src="main.js"></script>
</head>

<body>
  <%= yield %>
</body>
</html>