html *
{
  
}
h1
{
  color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #DDDDDD;
  width: 750px;
  background-color: #222222; 
}
h3
{
  color: #DDDDDD;
}

table.tablaIN
{
  border: 3px solid #DDDDDD;
  color: #DDDDDD;
  background-color: #222222; 
}
table.tablaOUT
{
  border: 3px solid #DDDDDD;
  color: #DDDDDD;
  background-color: #222222; 
}
th
{
  border-bottom: 3px solid #DDDDDD;
  text-align: left;
  color: #DDDDDD;
  font-size: 150%;
}
td
{
  width: 1000px;
  /*border: 1px solid #CC0000;*/
  text-align: left;
}


body 
{ 
  color: #FFFFFF;
  background-color: #000000;
  background-image:url('imagen_fondo.jpg'); 
}

#INPUT 
{
    border-bottom: 3px solid #DDDDDD;
    border-top: none;
    border-left: none;
    border-right: none;
    
    font-family: monospace;
    text-align: left;
    height: 1in;
    overflow: auto;
    /* padding: 0.5em; */
    width: 1000px;
    height: 200px;
    color: #CCBBFF;
    background-color: #222222;
}



#OUTPUT 
{
  text-align: left;
  color: #99EEEE;
  display: block;
  height: 350px;
  width: 1000px;
  overflow: auto;
}


a 
{
  font-size: x-large;
  text-decoration:none;
}

a:link 
{ 
    color:#00FFFF; 
}
a:visited 
{ 
    color:black; 
}
a:hover
{ 
  background-color:black; 
  color: #FFF;
}
a:active {color:#0000FF;}  /* selected link */



nav 
{
    text-align: center;
}

nav li 
{
    list-style: none;
    display: inline;
    margin: 0 1em;
}

.mylink 
{
  color: #DDDDDD;
  background-color: #3355AA;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #222222;
  padding: 5px;
  font-size: 150%;
}

#GitHub
{
  color: #DDDDDD;
  background-color: #33BB00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #222222;
  padding: 5px;
  font-size: 150%;
}

#Test
{
  color: #DDDDDD;
  background-color: #FF4433;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #222222;
  padding: 5px;
  font-size: 150%;
}

/* Supress borders after the button is pressed */
#PARSE:focus {outline:0; }
